/*img {
  min-height: 100px;
  mind-width: 100px;
  text-align: center;
}

img:before {
  content: " ";

  display: block;
  position: absolute;
  top: -10px;
  left: 0;
  height: calc(100% + 10px);
  width: 100%;
  background-color: rgb(230,230,230);
  outline: 2px dotted rgb(200,200,200);
  outline-offset: -5px;
  outline-radius: 2px;
}

img:after {
  content: "No Image Loaded";
  display: block;
  font-size: 16px;
  font-style: normal;
  font-family: FontAwesome;
  color: rgb(100,100,100);

  position: absolute;
  top: 5px;
  left: 0;
  width: 100%;
  text-align: center;
}
*/

body {
  font-family: 'Roboto', sans-serif;
  /*font-size:  0.875rem;*/
}

/**
 * the spin buttons for number inputs take up too much room in small inputs.
 * hide them.
 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/**
 * For phones in portrait mode, make modals full screen
 */
@media (max-width: 575px) {
  .modal, .modal-lg {
    min-width: 100%;
    margin: -8px -8px;
  }

  .modal .modal-content {
    min-height: 100vh;
    border: none;
    border-radius: 0;
  }
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.digital-clock-container {
  position:  relative;
  font-family: DSEG14-Classic;
  font-weight: bold;
  font-style: italic;
  min-height: 1em;
}

.digital-clock-container .digital-clock-ghosts, .digital-clock-container .digital-clock {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.digital-clock-container .digital-clock {
  color: red;
}

.digital-clock-container .digital-clock-ghosts {
  color: rgba(0, 0, 0, .15);
  width:  100%;
}

.stop-watch {
  font-size: 5em;
  background: black;
  min-height: 1.5em;
}

@media (max-width: 575px) {
  .stop-watch {
    font-size: 4em;
  }
}

.stop-watch .digital-clock-container .digital-clock-ghosts {
  color: rgba(255, 0, 0, .25);  
}

.race-data-table, .race-laps-table {
  font-family: 'Roboto Condensed';
  font-size: 0.875rem;
}

.race-data-table th, .race-laps-table th {
  font-weight: 500;
}

.race-data-table td, .race-data-table th, .race-laps-table td, .race-laps-table th {
  padding: 0 .25rem;
  vertical-align: middle;
}