@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto:400,700');

body {
  margin: 0;
  padding: 0;
  height: 100%;
  /*
  background: rgb(239,243,240);
  */
  background: #343a40;
}
